image: maven:3.6.3-jdk-11
variables:
  MAVEN_CLI_OPTS: "-s .m2/settings.xml --batch-mode"
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository -Dmaven.artifact.threads=50"
cache:
  paths:
    - .m2/repository/
build:
  stage: build
  script:
    - mvn clean install
  artifact:
    paths:
      - target/

deploy:
  stage: deploy
  script:
    - echo "Hi Brendan"